/node_modules
/public/hot
/public/js
/public/css
/public/storage
/public/public
/public/bootstraps-icons
/storage/*.key
/tools/php-cs-fixer/vendor
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
